{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" type="text/css" href='{% static "css/placeholder.css"%}'>
<link rel="stylesheet" type="text/css" href='{% static "css/index.css"%}'>

<div class="startPage">
    <div class="w3-row w3-padding-64">
        <div class="col-sm-6 col-sm-offset-3 w3-padding-64 " style="background-color: rgb(240,234,227); border-radius:1em;">

            <b><h4>{% trans "Your account is now activated. Add additional information below." %}</h4></b>
            <form class="form" role="form" method="POST" action="/profile/" accept-charset="UTF-8" id="login-nav">
                {% csrf_token %}
                <div class="form-group">
                    <label for="firstname">First name</label>
                    <input required type="text" class="form-control" name="firstname" id="firstname"
                           placeholder="First name"/>
                </div>
                <div class="form-group">
                    <label for="lastname">Last name</label>
                    <input required type="text" id="lastname" class="form-control" name="lastname"
                           placeholder="Last name"/>
                </div>


                <div class="form-group">
                    <strong>Gender</strong><br>
                    <input required id="male" type="radio" name="gender" value="male"> <label
                        for="male">Male</label><br>
                    <input required id="female" type="radio" name="gender" value="female"> <label
                        for="female">Female</label><br>
                    <input required id="other" type="radio" name="gender" value="other"> <label
                        for="other">Other</label>
                </div>


                <div class="form-group">
                    Birthday:
                    <input required placeholder="yyyy-mm-dd" type="date" name="bday">
                </div>

                <div class="form-group">
                    <label for="picture">Picture (must be an url)</label>
                    <input type="text" class="form-control" id="picture" name="picture"
                           placeholder="Picture url"/>

                </div>

                <button type="submit" class="btn btn-primary btn-block">Save profile</button>
            </form>


            </form>
        </div>
    </div>
</div>
{% endblock %}

<!-- This is where the "create profile" will go right? -->