{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
{% load crispy_forms_tags %}
<link rel="stylesheet" type="text/css" href='{% static "css/index.css"%}'>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href='{% static "css/pantry.css"%}'>
<div class="pwdPage">
  <div class="container-fluid">
    <div class="w3-card">
      <div class="w3-row w3-padding-32">
        <div class="col-sm-6 col-sm-offset-3 w3-padding-64 w3-center">
          <form method="post" action=".">
            {% csrf_token %}
            {{ form|crispy}}

            <input type="submit" value="{% trans 'Submit' %}" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
