{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href='{% static "css/index.css"%}'>
<link rel="stylesheet" type="text/css" href='{% static "css/pantry.css"%}'>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<div class="pantryPage">


            <div class="container-fluid">




            <div class="w3-row w3-padding header">
                <div class="container_logo w3-center">
                <img src="../../static/images/logo.png" alt="Logo" width="40%" height="auto">

            </div>
                     <h2 id="slogan">Virtual pantry</h2>
                </div>

            <div class="w3-card w3-padding card-searchbar">






                <div class="container_searchbar" >
                    <form class="search_bar" action="my_pantry" method="POST">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" id="ingredient-form" class="form-control"  size="50" placeholder="Add ingredient..." maxlength="30" required >

                                <button class="button" id="searchbar_plus" value="Add" onclick = "addItemPantry()">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>

                                <!--<<button type="button" class="btn btn-info dropdown-toggle" id="alternatives" data-toggle="dropdown">Alternatives
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                    <li><a href="#">Vegetarian</a></li>
                                    <li><a href="#">Gluten free</a></li>
                                    <li><a href="#">Laktos free</a></li>
                            </ul>-->
                        </div>
                    </form>
                </div>
            </div>


             <div class="w3-card w3-padding">


                <h2 id="slogan2">Added groceries:</h2>



                <form class = "ing_form" action="/recipes/recipes/" method="GET" >
                    {% csrf_token %}



                <div class="rows_ingredients">



                    <div class="column_ingredients col-sm-11">



                            <div class="container">
                                <ol class="list-group" id="ingredients" style="font-size: 1.7em";>
                                {% for item in pantry %}
                                    <li>{{item}}</li>
                                {% endfor %}
                                </ol>




                            </div>



                    </div>
                    <!--<div class="column_remove col-sm-1">

                        </div>-->

                </div>


                </form>
                </div>

        </div>


</div>

{% endblock %}