{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href='{% static "css/index.css"%}'>
<link rel="stylesheet" type="text/css" href='{% static "css/pantry.css"%}'>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href='{% static "css/modal.css"%}'>


<div class="pantryPage">

    <div class="container-fluid pantry-container">

        <div class="w3-row w3-padding header w3-center w3-hide-small w3-hide-medium">
            <img src="../../static/images/logo.png" alt="Logo" width="40%" height="auto">
            <h3 id="slogan">Virtual pantry</h3>
        </div>



         <div class="w3-card" style="width:100%;height:20px;font-weight: bold;">
             <a href="#" class="w3-left" title="Help" data-placement="left" data-toggle="popover" data-trigger="focus" data-content="Here you can add and remove ingredients from your virtual pantry."> <span class="glyphicon glyphicon-question-sign" style="font-size:1.2em;color:black;" aria-hidden="true"></span></a>

            <a class="w3-right" href="/">Back to search</a>
        </div>

        <div class="w3-card" style="width:100%;">
            <h3 class="w3-center" id="added">Groceries at home</h3>
        </div>


            <!--<form class = "ing_form" action="/recipes/recipes/" method="GET" >
                {% csrf_token %}-->
            <div class="search_bar w3-padding w3-light-grey" action="my_pantry" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" id="ingredient-form" class="form-control" size="50"
                           placeholder="Add ingredient..." maxlength="30" required>

                    <button class="button" id="searchbar_plus_pantry" value="Add">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>

                </div>
            </div>


            <div class="rows_ingredients">
                <div class="list_of_ingredients">
                    <ul class="w3-ul" id="ingredients">
                        {% for item in pantry %}

                        <li class="list-group-item" id="itembefore{{forloop.counter0}}">{{item}}
                            <span class="pull-right">
                                            <button class="removeButton_pantry"> <i
                                                    class="fa fa-remove"></i>   </button></span>
                        </li>
                        {% endfor %}
                    </ul>

                </div>
                <!--<div class="column_remove col-sm-1">

                    </div>-->


                <!-- Trigger/Open The Modal -->

            </div>

            <!--DETTA ÄR MODAL I MYPANTRY TA INTE BORT FÖRENS VI VET ATT DETTA FUNGERAR
            <!-- <button id="myBtn"><i class="fa fa-plus-circle fa-3x"></i></button>
             <button class="button" id="back_to_search" value="Back to search" onclick="location.href = 'http://localhost:8000'">Back to search
             </button>
              The Modal
             <div id="myModal" class="modal">


                       &lt;!&ndash; Modal content &ndash;&gt;
                       <div class="modal-content-pantry">
                         <span class="close"></span>
                             <div class="search_bar w3-padding w3-light-grey" action="my_pantry" method="POST">
                            {% csrf_token %}
                             <div class="input-group">
                                <input type="text" id="ingredient-form" class="form-control"  size="50" placeholder="Add ingredient..." maxlength="30" required >

                                    <button class="button" id="searchbar_plus" value="Add">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>


                                    &lt;!&ndash;<<button type="button" class="btn btn-info dropdown-toggle" id="alternatives" data-toggle="dropdown">Alternatives
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                        <li><a href="#">Vegetarian</a></li>
                                        <li><a href="#">Gluten free</a></li>
                                        <li><a href="#">Laktos free</a></li>
                                </ul>&ndash;&gt;
                            </div>
                        </div>



                 </div>

             </div>
             <script src='{% static "js/modal.js"%}'></script>-->


        </div>
    </div>
</div>
{% endblock %}