{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
{% load crispy_forms_tags %}

<link rel="stylesheet" type="text/css" href='{% static "css/index.css"%}'>
<div class="startPage">
    <!-- Page Container -->
    <div class="userprofile w3-content w3-margin-top" style="max-width:1400px;">

        <!-- The Grid -->
        <div class="w3-row-padding">

            <!-- Left Column -->
            <div class="w3-third">

                <div class="w3-white w3-text-grey w3-card-4">
                    <div class="w3-display-container">
                        <img src={{mongouser.picture}} style="width:100%" alt="Avatar">

                    </div>
                    <div class="w3-container w3-margin-top">
                        <p><i class="fa fa-user fa-fw w3-margin-right w3-large w3-text-teal"></i>{{user.username}}</p>
                        <hr>
                        <p data-toggle="collapse" data-target="#demo" class="w3-large"><b><i
                                class="fa fa-cutlery fa-fw w3-margin-right w3-text-teal"></i>Pantry</b></p>
                        <div id="demo" class="collapse">
                            {%for item in mongouser.Pantry%}
                            <p>{{item}}</p>
                            {% endfor %}
                            <form action="my_pantry/">
                                <button type="submit" class="btn btn-primary btn-block w3-margin-bottom">Edit</button>
                            </form>
                        </div>


                    </div>
                </div>
                <br>

                <!-- End Left Column -->
            </div>

            <!-- Right Column -->
            <div class="w3-twothird">

                <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
                    <h1 data-toggle="collapse" data-target="#profile" class="w3-large"><b><i
                            class="fa fa-cog fa-fw w3-margin-right w3-text-teal"></i>Change profile settings</b></h1>
                    <div id="profile" class="collapse">
                        <form class="form" role="form" method="POST" action="/update_profile/" accept-charset="UTF-8"
                              id="login-nav">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="firstname">First name</label>
                                <input required type="text" class="form-control" id="firstname" name="firstname"
                                       placeholder="First name"/>

                            </div>
                            <div class="form-group">
                                <label for="firstname">Last name</label>
                                <input required type="text" class="form-control" id="lastname" name="lastname"
                                       placeholder="Last name"/>
                            </div>


                            <div class="form-group">
                                <label for="gender">Gender</label><br>
                                <input required id="gender" type="radio" name="gender" value="male"> Male<br>
                                <input required type="radio" name="gender" value="female"> Female<br>
                                <input required type="radio" name="gender" value="other"> Other
                            </div>


                            <div class="form-group">
                                <label for="bday">Birthday</label><br>
                                <input required id="bday" type="date" name="bday">
                            </div>


                            <button type="submit" class="btn btn-primary btn-block">Save profile</button>
                        </form>


                    </div>


                </div>

                <div class="w3-container w3-card-2 w3-white  w3-margin-bottom">
                     <h1 data-toggle="collapse" data-target="#picture_update" class="w3-large"><b><i
                            class="fa fa-picture-o fa-fw w3-margin-right w3-text-teal"></i>Change picture</b></h1>

                    <div id="picture_update" class="collapse">
                        <form class="form" role="form" method="POST" action="/update_profile/" accept-charset="UTF-8"
                              id="login-nav">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="picture">Picture (must be an url)</label>
                                <input required type="text" class="form-control" id="picture" name="picture"
                                       placeholder="Picture url"/>

                            </div>


                            <button type="submit" class="btn btn-primary btn-block">Save profile</button>
                        </form>


                    </div>
                </div>


                <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
                    <a href="/accounts/password/change"><h1 class="w3-large"><b><i
                            class="fa fa-key fa-fw w3-margin-right w3-text-teal"></i>Change password</b></h1></a>
                </div>

                <div class="w3-container w3-card-2 w3-white">
                    <h1 data-toggle="collapse" data-target="#added_recipes" class="w3-large"><b><i
                            class="fa fa-list fa-fw w3-margin-right w3-text-teal"></i>My recipes</b></h1>

                    <div id="added_recipes" class="collapse">

                        {%if my_recipes%}
                            {%for recipe in my_recipes%}

                             <a href="/recipes/{{recipe.id}}"><p ><b><i
                            ></i>{{recipe.title}}</b></p></a>


                            {%endfor%}
                         {%endif%}

                    </div>
                </div>



                <!-- End Right Column -->
            </div>

            <!-- End Grid -->
        </div>

        <!-- End Page Container -->
    </div>
</div>

{% endblock %}