/* Font

@import url(http://fonts.googleapis.com/css?family=Noto+Sans:700);

/* Variables*/
$maven-orange: #d8765d;
$maven-red: #bc5e47;
$gray-alto: rgb(217, 217, 217);

$global-border-color: $gray-alto;
$global-radius: 4px;

/* Button Group Mixin*/
@mixin button-group(
  $background-color: white,
  $background-hover-color: white,
  $border-width: 2px,
  $border-color: $global-border-color,
  $border-radius: $global-radius,
  $color: $border-color,
  $color-hover: $border-color,
  $darken: 20%,
  $icon-margin: 3px,
  $inner-button-class: 'btn-inner',
  $max-width: 40em,
  $padding: 12px 20px ) {

  display: table;
  width: 100%;
  table-layout: fixed;

  // Test for Flexbox using Modernizr
  .flexbox & {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
  }

  // Use Display Table as a fall back for older browsers
  .#{$inner-button-class} {
    display: table-cell;
    position: relative;
    margin-left: -2px;
    border: $border-width solid $border-color;
    color: $color;
    padding: $padding;
    font-size: 0.8rem;
    position: relative;
    text-align: center;
    transition: all 0.1s ease-in;
    vertical-align: middle;
    z-index: 0;

    .flexbox & {
      flex: 1 1 0;
      display: inline-block;
    }

    @content;

    // Negate added borders
    + .#{$inner-button-class} {
      margin-left: -$border-width;
    }

    // If a border radius is present, add it.
    @if $border-radius {
      &:first-child {
        border-radius: $border-radius 0 0 $border-radius;
      }

      &:last-child {
        border-radius: 0 $border-radius $border-radius 0;
      }
    }

    // Create the hover effect.
    &:hover {
      background: $background-hover-color;
      border-color: $background-hover-color;
      color: $color-hover;
      cursor: pointer;
      z-index: 1;
    }
  }

  // This breakpoint is random for Codepen, so you may need to update it.
  @media screen and (max-width: 34.75em) {
    .flexbox & {
      flex-direction: column;
    }

    .#{$inner-button-class} {
      border-bottom: 0;
      .flexbox & {
        flex: auto;
      }
      &:first-child {
        border-radius: $border-radius $border-radius 0 0;
      }

      &:last-child {
        border-radius: 0 0 $border-radius $border-radius;
        border-bottom: $border-width solid $border-color;
      }
    }
  }
}

// Use the mixin above like so:
.btn-group {
  @include button-group(
    $background-hover-color: $maven-orange,
    $color: #bcbcbc,
    $color-hover: white
  );
}



// Extra Styling
body {
  font-family: 'Noto Sans', sans-serif;
}
.container {
  padding: 50px;
}