.createUserPage{
    padding-top: 7em;
    min-height: 60em;
    height: auto;
    background-size: cover;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("https://dl.dropboxusercontent.com/s/7x2h0fh6f26opux/8.jpeg?dl=0");
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 5em;
}
.textinput, .emailinput {
    border-radius: 20px !important;
}

#info{
    padding-bottom: 5em;

}
#video{
    border-radius: 10px;
}

.header-progress-bar{
    width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}

#inputForms{
    background-color: rgb(240,234,227);
   border-radius: 1em;
   padding-top: 1em;
   padding-left:2em;
   padding-right:2em;
   display:inline;
}

