.createUserPage{
    padding-top: 7em;
    min-height: 60em;
    height: auto;
    background-size: cover;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images/recipes-background.jpeg");
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 5em;
}
.textinput, .emailinput {
    border-radius: 20px !important;
}

#info{
    padding-bottom: 5em;

}
#video{
    border-radius: 10px;
}
