.col-sm-2 {
    height: 45em;
    margin-top: 1.1em;
}
.special_diet {
    height: 3em;
    border: dotted;
    margin: 1em;
    
}

.meal {
    height: 3em;
    border: dotted;
    margin: 1em;
}

.recipes_container {
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
}

.my_ingredients {
      height: 3em;
      border: dotted;
      margin: 1em;
}

.col-sm-10 {
    height: 64em;
}

.recipes {
    box-shadow:1px 1px 25px 2px white;
    margin: 1em;
    max-width: 15em;
    height: 20em;
    display: inline-block;
    background-color: gainsboro;
}


.col_recipes {
    height: 64em;
}



.list-item__link {
}

.list-item__title {
}

.list-item__header {
    position:relative;
}

.list-item__image {
    display: block;
    width: 99%;
    height: 150px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-image: url("../images/axel.jpg");
    margin-left: 1px;
    
}

.list-item__content {
    position: relative;
    padding: 0.5em;
}

.list-row {
    display: -webkit-flex;
    flex-wrap: wrap;
    clear: both;
    margin-left: -7px;
    margin-right: -7px;
    
}

.list-item {
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
}



.row-sm-10 {
    height: 25em;
    border: dotted;
}

.site-side__row {
    width: 100%;
    float: left;
    height: 100%;
    background-color: gainsboro;
    box-shadow:1px 1px 25px 2px white;
}

.site-main__row {
    width 100%;
    float: left;
}

:after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
    
}


.panel-body {
    overflow:auto;
    overflow-x: hidden;
    max-height: 23em;
}
.container_background{
    background-image: linear-gradient(rgba(255, 255, 255, 0.99), rgba(255, 255, 255, 0.2)), url("../images/background.jpg");
    background-size: cover;
}
