
.w3-white {
    padding-top: 1em;
    padding-bottom: 1em;
}

.w3-light-grey {
    padding-top: 1.6em;
}


#ingredient-form {
    width:80%;
}
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Raleway", sans-serif
    }
.startPage {
    background-size: cover;
    padding-top: 4em;
}

.panel-default {
    padding:0.5em;
    height: 20em;
    overflow: auto;
    overflow: scroll;
    overflow-x: hidden;
}

.title_text {
    width: 100%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size: 12pt;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    display: inline-block;

}

.ing_count{
    background-color: rgba(189,64,4, 0.8) !important;
    color: white;

}

.no_ing{
    font-family: "Raleway", sans-serif;



}
.glyphicon-plus {
    color: white;
    font-size: 1.5em;
    padding:0.1em
}

#ratio-bar {
    /*background-color: rgba(250,250,250,0.8) !important;
    color: white;*/
}
#searchbar_plus {
    border-radius: 0.3em;
    background-color: green;
    padding-top: 0.2em;
    padding-left: 0.6em;
    padding-bottom: 0.1em;
    float:right;
}
.single_recipe{
    margin-bottom: 0;
}
#slideout {
    z-index: 1;
    position: fixed;
    width: 315px;
    height: 80px;
    top: 10%;
    left:-282px;
}
#matchme{
    background-color: rgb(189,64,4);
}

#clickme {
    background-color: rgb(189,64,4);
    float: right;
    height: 32px;
    width: 175px;
    text-transform: uppercase;
    font-family: "Raleway";
    /*transform: rotate(90deg);
    /*vertical-align: middle;*/
    transform: rotate(90deg);
    transform-origin: right top 0;
    color:white;
    padding-left:0.3em;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    font-size: 1.5em;

}

input[type="image"]:hover{
    opacity: 0.5;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

#slidecontent {
    float:left;
    width: 283px;
    background: rgba(250,250,250,1);
    border-top-right-radius: 0.5em;

}

#currentPage{
    background-color: rgba(189,64,4,0.8);
    border-radius: 2em;

}


.btn{
    background-color: rgb(189,64,4) !important;
}


