/********************************************************************************************/
/************************************** GENERAL *********************************************/
/********************************************************************************************/


/*** TEXT-STYLE ***/



@font-face {
    font-family: 'RammettoOne'; /*a name to be used later*/
    src: url('../font/RammettoOne-Regular.ttf'); /*URL to font*/
}
h2 {
    color: rgb(75,75,75)!important;
}

/*** CLASS ***/
.container {
    width:auto;
}

.panel {
    border: 1px solid rgb(189, 65, 4);
    border-radius: 0 !important;
    transition: box-shadow 0.5s;
}
    .navbar-nav li #admin_menu:hover,
.navbar-nav li.active #admin_menu {
    color: #f4511e !important;
    background-color: #fff !important;
}
/*** Navigation bar, at top of every site ***/
.navbar {
    margin-bottom: 0;
    background-color: rgb(250,250,250);
    z-index: 9999;
    border: 0;
    font-size: 13px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 1.2px;
    border-radius: 0;
    font-family: "Raleway", sans-serif !important;

}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: rgb(189,65,4) !important;
}
.navbar-nav li #menu:hover,
.navbar-nav li.active #menu {
    color: #f4511e !important;
    background-color: #fff !important;
}

#user_logged_in{
    background-color: rgb(189,65,4);
    color: white !important;

}
.navbar-collapse{
    max-height: 100% !important;
}
.navbar-brand {
    padding: 0.2em;
    font-size: 22px;
    color:rgb(75,75,75) !important;

    
    
}

.navbar-left {

    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.btn-primary{
    background-color: rgb(96,125,139)!important;
    border-color: rgb(96,125,139)!important;
}

.breadcrumb {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    display: block;
    padding-top: 32px;
    margin-left: 100px;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    width: 100%;
    padding-right: 0px !important;

}

@media (max-width: 1000px){
    .breadcrumb {
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
        display: block;
        padding-top: 32px;
        margin-left: 0px;
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
        width: 35%;
        padding-right: 20px !important;
        white-space:nowrap;
        text-overflow:ellipsis;
        overflow: hidden;
    }

}



.breadcrumb-item {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    display: block;

}
.navbar-brand>img {
    height: 100%;
    width: auto;
    
}
footer .glyphicon{
    font-size: 1.5em;
    margin-bottom: 1.5em;
    color: rgb(189,65,4);
}

.footer {
    background: #e7e7e7;

}
.footer-content {
    margin-top: 20px;
    background: #fff;
    padding-top: 0px;
    padding-bottom: 0px;

}

@media (max-width: 1199px) {
    .footer-content {
        text-align: left;
        padding: 0em 4em;
        margin-top: 15px;
    }
}
@media (min-width: 768px){
.copyright {
    padding: 23px 0;
    margin: 0;
    max-width: none;
    }
}
.logo {
    font-size: 14px;
}
.copyright {
    padding: 18px 0;
    font-family: Lato,sans-serif;
    font-size: 10px;
    letter-spacing: .13em;
    text-transform: uppercase;
    text-align: center;
    color: #919191;
    max-width: 200px;
    margin: 0 auto;
}

.footer-logo{
    padding-left: 4em;
    padding-right: 4em;
}
.logo-text{
    text-align: center;
    padding-top: 0.5em;
}

/***  ***/

/*** ID ***/

#facebook:hover{
    color: #fff !important;
    background-color:#496ebc !important;
}

.menu {
    color: rgb(75,75,75) !important;
}

#login-dp {
    min-width: 250px;

    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgb(250,250,250) ;
}

#login-dp .help-block {
    font-size:12px    
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: auto;
    max-width: 15em;
    min-width: 15em;
    letter-spacing: normal;
    background-color:#3b5998;
    color: #fff !important;
}

#login-dp .form-group {
    margin-bottom: 1em;
}
#admin_menu {
    color: rgb(75,75,75);
    display: none;
    
}

/********************************************************************************************/