{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
 <link rel="stylesheet" type="text/css" href='{% static "css/aboutus.css"%}'>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- carousel section -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="https://dl.dropboxusercontent.com/s/wxa7rjxt3bgx5ny/cow.jpg?dl=0" alt="Cows" width="100%" height="1024">
        <div class="carousel-caption">
          <h3>Environment</h3>
          <p>Why waste food when you can MealMatch</p>
        </div>
      </div>

      <div class="item">
        <img src="https://dl.dropboxusercontent.com/s/mvyrlulq67yhyo7/foodtech.jpeg?dl=0" alt="tech" width="100%" height="1024">
        <div class="carousel-caption">
          <h3>Foodtech</h3>
          <p>Utilizing what you have at home has never been this easy.</p>
        </div>
      </div>

      <div class="item">
        <img src="https://dl.dropboxusercontent.com/s/8a08jzgzum8i9he/pan.jpeg?dl=0" alt="pan" width="100%" height="100%">
        <div class="carousel-caption">
          <h3>Curiousity</h3>
          <p>Discover new ways to make use of your ingredients</p>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>


<div id="mission" class="container text-center container_about white">
  <h2>Mission</h2>

  <p><strong>Behind every great idea there is a story</strong></p>
  <p>MealMatch began as a discussion among friends. We were not happy with the amount of food wasted yearly. And decided to <b>act against it!</b><br>
    Therefor we started to develop a webpage, that would not only try to reduce the amount of food waste. But also <b>assist peoples economy.</b><br>
    We began our journey in late March 2017. With everyone starting from scratch in developing a webpage, we had to put in alot of heavy hours. The first drafts where not pretty...<br>
    But eventually after some though weeks, we created this!<br>
    The service now concsists of more then <b>8000 recipes</b>, and it keeps growing! We want all of you to share your favorite recipes among each other!<br>
    Create your recipes, comment and rate on others, and let them know that you <b>appreciate it!</b><br>
    On the 12th of May we launched our first beta of the service. All the user input we will get from this, will fuel our fires to keep on creating the most revolutionizing recipe search engine there is.<br>
    <b>One love // The MM-crew</b>


    <!--The world wide web has revolutionized how people live their lives and simplified cooking by providing extensive recipe databases and search engines. Not sure what to eat today? Go to your favorite recipe site and look
    try something from the toplist. But what if you have leftovers at home or found something cheap on your local supermarket and you don't know what you can cook with it? <br><br>MealMatch aims to challenge the perception of
       ingredients as subordinated to a recipe. Instead of looking for a particular recipe and then get the ingredients you need for it, go to your pantry or your supermarket and use our matching algorithm to find out what you can cook.
Ask not what you need to do for your recipe - ask what you can do for your ingredients!-->

  </p>
  <br>

</div>




<!-- Container (faq Section) -->
<div id="faq" class="bg-1">
  <A NAME="QUESTIONS"></A>
  <div class="container container_about">
    <h2 class="text-center">FAQ</h2>
    <br>
    <h3 class="text-center">Why are you so awesome?</h3>
      <p>The world wide web has revolutionized how people live their lives and simplified cooking by providing extensive recipe databases and search engines. Not sure what to eat today? Go to your favorite recipe site and look
        try something from the toplist. But what if you have leftovers at home or found something cheap on your local supermarket and you don't know what you can cook with it?
      </p>
    <br>
    <h3 class="text-center">I found a recipe that is wrong/inappropiate, what should I do?</h3>
      <p>Just press the flag icon and leave a comment on what's wrong. Our crew will take a look and hopefully make it right. The Flag can be found underneath the recipes picture!
      </p>
    <br>
    <h3 class="text-center">How do I search with a pantry?</h3>
    <p>By making an account on MealMatch. You will be able to make searches with your own pantry. This will allow MealMatch to make even better recipe matching with what you got at home. Don't have and account? Why not create one? <a>SIGN UP</a>!
      </p>
    <br>
    <h3 class="text-center">What's the cost for this service?</h3>
    <p>MealMatch is a free to use service, but of course, donations are always appreciated. Donations will be invested in perfecting the search algorithm and services we are developing for you!
    </p>
    <br>
    <h3 class="text-center">I can't remember my password?</h3>
    <p>Just fill out the email adress you used when creating your account, and a new password will be sent too you right away! This can be done over <a>HERE</a> (Be sure to check your spam-folder, sometimes the email providers don't recognize us)
      </p>
    <br>
    <h3 class="text-center">Someone made an account in my name?</h3>
      <p>Contact the MealMatch crew <a>HERE</a>, and they will help you solve this nice and smooth.
      </p>
</div>

</div>

<!-- Container (faq Section) -->
<div id="mission" class="container text-center container_about white">
  <A NAME="BUSINESS"></A>
  <div class="container container_about">
    <h2 class="text-center">Business enquiries</h2>
    <br>
    <h3 class="text-center">Intrested in collaborating with us?</h3>
      <p>Please contact us <a>HERE</a>
      </p>
</div>

</div>



<!-- Container (Contact Section) -->
<div id="contact">
  <A NAME="CONTACTUS"></A>
    <div class="container container_footer white">



  <div class="row">
    <div class="col-md-4">
        <h2>Get in touch</h2>
      <p><span class="glyphicon glyphicon-map-marker"></span>Uppsala, SWE</p>
      <p><span class="glyphicon glyphicon-phone"></span>Phone: +46 018018018</p>
      <p><span class="glyphicon glyphicon-envelope"></span>Email: mealmatch@mealmatch.se</p>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
      <br>
      <div class="row">
        <div class="col-md-12 form-group">
          <button class="btn pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
        </div>
  <br>



</div>






{% endblock %}
