{% load staticfiles %}
{% load crispy_forms_tags %}

<html>
    <head>
        <title>Meal Match</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Adjusts with the display size, responsive -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" type="text/css" href='{% static "css/style.css"%}'>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" rel="stylesheet">
        <!--<link rel="stylesheet" type="text/css" href='{% static "css/user.css"%}'> -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src='{% static "js/javascript.js"%}'></script>
        <script type="/text/javascript" src='{% static "js/jquery.js"%}'></script>

</head>
    <body>


    <nav class="navbar navbar-default navbar-fixed-top">

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" href="/"><img src="../../static/images/logo.png" alt="Logo" width="100%" height="auto"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">



                <ul class="nav navbar-nav navbar-right" id="navHomeText">
                    <!--rename from id to class -->
                    <li><a id="admin_menu" href="">ADMIN</a></li>
                    <li><a id="admin_menu" href="">EDIT RECIPES</a></li>
                    <li><a id="admin_menu" href="">EDIT USERS</a></li>
                    <li><a id="admin_menu" href="">SETTINGS</a></li>
                    <li id="admin_menu">|<br>|<br>|</li>

                    <!--<li><a class="menu" href="/recipes.html">RECIPES</a></li>-->
                    {% if user.is_authenticated %}
                    <li><a class="menu" href="account_functions/my_pantry.html">My pantry</a></li>
                    <li class="dropdown">
                        <a class="menu dropdown-toggle menu" data-toggle="dropdown" id ="user_logged_in">{{mongouser.full_name}}<span class="caret"></span></a>
                            <ul class="dropdown-menu" id="loggedin-dp">
                                <li><a href="#"><span>Settings</span></a></li>
                                <hr>
                                <li><div class="form-group">

                                     <form class="form" role="form" method="post" action="{% url 'account_functions:logout' %}" accept-charset="UTF-8" id="logout-nav">
                                        {% csrf_token %}

                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block">Logout</button>
                                        </div>
                                    </form>




                                </div></li>
                            </ul>

                    </li>

                    {%endif%}
                    {% if not user.is_authenticated %}
                    <li class="dropdown">
                        <a id="menu" href="#" class="dropdown-toggle menu" data-toggle="dropdown">LOGIN<span class="caret"></span></a>
                        <ul class="dropdown-menu" id="login-dp">
                            <li>
                                <div class="login">
                                    <p>Login via</p>
                                    <div class="social-buttons">

                                        <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-block btn-social btn-facebook" id="facebook"><span class="fa fa-facebook"></span>Log in with Facebook</a>


                                    </div>
                                    or

                                    <form class="form" role="form" method="post" action="/account_functions/login" accept-charset="UTF-8" id="login-nav">
                                        {% csrf_token %}

                                        {{loginForm}}

                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block">Log in</button>
                                        </div>
                                    </form>

                                </div>
                                <div class="bottom text-center">
                                    <a href="/account_functions/create_user.html"><b>Sign up</b></a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    {%endif%}
                </ul>
            </div>
        </div>
    </nav>
            {% block content %}

            {% endblock content %}

    <footer class="footer">
        <div class="footer-content">
            <div class="content-container">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-md-offset-0 col-sm-offset-3 hidden-xs hidden-sm footer-logo">
                        <a href="/"><img class="logo-img" src="../../static/images/logo.png" alt="Logo" width="100%" height="auto"></a>
                        <p class="logo-text">Let's find your perfect match!</p>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-sm-4 col-xs-6">
                                <h3>Content</h3>
                                <ul style="list-style: none; padding-left:0;">
                                    <li>
                                        <a href="/about">Food inspo</a>
                                    </li>
                                    <li>
                                        <a href="/about#faq">FAQ</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-4 col-xs-6">
                                <h3>Contact</h3>
                                <ul style="list-style: none; padding-left:0;">
                                    <li>
                                        <a href="/about#contact">Contact us</a>
                                    </li>
                                    <li>
                                        <a href="/about">Advertisement</a>
                                    </li>
                                    <li>
                                        <a href="/about">About us</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-4 hidden-xs">
                                <h3>My pages</h3>
                                <ul style="list-style: none; padding-left:0;">
                                    <li>
                                        <a href="/">Log in</a>
                                    </li>
                                    <li>
                                        <a href="/account_functions/create_user.html">Sign up</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                Copyright 2017 MealMatch. &copy; All rights reserved.
            </div>
        </div>
    </footer>
<!--<footer class="container-fluid text-center">
        <a href="#TOP" title="To top">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
        <a href="#BOTTOM" title="To bottom">
            <span class="glyphicon glyphicon-chevron-down"></span>
        </a>
        <div class="container-fluid bg-grey text-left">
            <h2 class="text-center">CONTACT</h2>
            <div class="row">
                <div class="col-sm-5">
                    <p>Contact us and we'll get back to you within 24 hours.</p>
                    <p><span class="glyphicon glyphicon-map-marker"></span> Uppsala, Sweden</p>
                    <p><span class="glyphicon glyphicon-phone"></span> +46 018018018</p>
                    <p><span class="glyphicon glyphicon-envelope"></span> support@mealmatch.se</p>
                </div>
                <div class="col-sm-7">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                        </div>
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                        </div>
                    </div>
                    <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <button class="btn btn-default pull-right" type="submit">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p>MealMatch &copy;2017 </p>

    </footer>--->


<A NAME="BOTTOM"></A>
</body>
</html>