{% extends 'recipes.html'%}
{% block content %}
{% load staticfiles %}


<link rel="stylesheet" type="text/css" href='{% static "css/presenterarecept.css"%}'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">


<!--<link rel="stylesheet" href="font-awesome.min.css">-->


<style>
    .star-icon.half:before {
        color: black;
        content: '\2605'; /* Full star in UTF8 */
        position: absolute;
        left: 0;
        width: 50%;
        overflow: hidden;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    }

    .star-icon.full:before {
        color: black;
        content: '\2605'; /* Full star in UTF8 */
        position: absolute;
        left: 0;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    }

    .star-icon {
        color: #ddd;
        font-size: 34px;
        position: relative;
    }

    body, h1, h2, h3, h4, h5, h6 {
        font-family: "Raleway", Arial, Helvetica, sans-serif
    }

    .mySlides {
        display: none
    }






</style>


<!-- !PAGE CONTENT! -->
<div class="">
    <div id="main" class="container text-left container_about background">

        <div class="w3-row">
            <div class="w3-half white w3-center w3-margin-bottom" style="height:auto">


                <img src={{recipe.image}}
                     style="width:auto; max-height: 90%; max-width:100%; border-radius:0.1em; box-shadow: 0px 0px 20px #888888;">


            </div>
            <div class="w3-half container w3-left w3-margin-bottom" style="height:auto">
                <h3>{{recipe.title}}</h3>
                <div class=" row">
                    {%if not user.is_authenticated or your_rating != None%}


                    <form class="rating w3-margin-left" onclick="popup('{{your_rating}}')" id="stardiv">

                        <input type="radio" value="5" name="star" class="stars" checked=false disabled/>
                        <label class="starlabel" for="st1"></label>
                        <input type="radio" value="4" name="star" class="stars" checked=false disabled/>
                        <label class="starlabel" for="st2"></label>
                        <input type="radio" value="3" name="star" class="stars" checked=false disabled/>
                        <label class="starlabel" for="st3"></label>
                        <input type="radio" value="2" name="star" class="stars" checked=false disabled/>
                        <label class="starlabel" for="st4"></label>
                        <input type="radio" value="1" name="star" class="stars" checked=false disabled/>
                        <label class="starlabel" for="st5"></label>
                    </form>
                    <p class="w3-margin-left"><strong>{{count_ratings}} ratings</strong></p><br>


                    {% endif %}
                    <!-- first grid -->


                    {%if user.is_authenticated and your_rating == None%}
                    <form class="rating w3-margin-left" id="ratingdiv">
                        <input type="radio" id="st1" value="5" name="star" class="stars" checked=false/>
                        <label class="starlabel" for="st1"></label>
                        <input type="radio" id="st2" value="4" name="star" class="stars" checked=false/>
                        <label class="starlabel" for="st2"></label>
                        <input type="radio" id="st3" value="3" name="star" class="stars" checked=false/>
                        <label class="starlabel" for="st3"></label>
                        <input type="radio" id="st4" value="2" name="star" class="stars" checked=false/>
                        <label class="starlabel" for="st4"></label>
                        <input type="radio" id="st5" value="1" name="star" class="stars" checked=false/>
                        <label class="starlabel" for="st5"></label>
                    </form>
                    <p class="w3-margin-left"><strong>{{count_ratings}} ratings</strong></p><br>

                    {% endif %}

                    {%if not your_rating == None %}
                    <p><strong>Your rated: {{your_rating}} </strong></p>
                    {% endif %}
                </div>

                <div class="row">
                    <div class="w3-row w3-margin-left w3-margin-bottom">
                        <i class="fa fa-clock-o" aria-hidden="true"> {{recipe.time}}</i>

                    </div>
                    <br>
                    <div class="w3-row w3-margin-left w3-margin-bottom">
                        <i class="fa fa-cutlery" aria-hidden="true"> {{recipe.servings}}</i>

                    </div>
                    <br>
                    <div class="w3-row w3-margin-left w3-margin-bottom">
                        <a href="#COMMENT">
                            <i class="fa fa-comment " aria-hidden="true" id="comment"><label
                                    for="comment">Comment</label></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="white">
                        <div class="container text-left container_about">
                            <hr>

                            <div class="w3-padding-16"><i class="fa fa-tags " aria-hidden="true"></i></div>
                            {%for tag in recipe.tags%}
                            <p id="tag">{{tag}}</p>
                            {%endfor%}
                            <br>

                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>
</div>


<div id="instructions" class="">
    <div class="container text-center container_instructions bg-1">

        <div class="col-sm-4 text-left">

            <h5><strong>Ingredients</strong></h5>
            <div class="w3-row w3-medium">
                <div class="w3-col s12">
                    {% for key, value in user_input.items %}
                    {%if value%}
                    <p> <i class="fa fa-check" style="color:green;"aria-hidden="true"></i> {{ key }}</p>
                    {%else%}
                     <p><i class="fa fa-times" style="color:rgb(189,64,4); margin-right:2px;" aria-hidden="true"></i> {{ key }}</p>
                    {%endif%}
                    {%endfor%}
                </div>

            </div>
        </div>

        <div class="col-sm-8 text-left">
            <h5><strong>Preparation</strong></h5>

            {% for direction in recipe.directions %}
            <div class="w3-row w3-medium">
                <p>{{forloop.counter}}. {{direction}}</p>
            </div>
            {% endfor %}
            <div class="w3-small w3-padding-24 text-right">
                <p class=>Recipe by Foodista.com<br>– The Cooking Encyclopedia Everyone Can Edit</p>
                <a href={{recipe.author}}>View original at Foodista.com</a>
            </div>
        </div>
    </div>

</div>


<div class="">
<A NAME="COMMENT"></A>
    <div class="container container_comments background">
        <div class="row">
            <div class="col-sm-8 w3-padding-24">
                {% if user.is_authenticated %}


                <h3 class="w3-padding-24 w3-text-dark-grey">Make your comments here
                    {{mongouser.full_name}}:</h3>

                <form class="ing_form" action="/recipes/presenterarecept/{{recipe.id}}" method="POST">
                    {% csrf_token %}


                    {{commentform}}


                    <br>
                    <div class="g-recaptcha" data-sitekey="6LfO9h8UAAAAAJdQ3B0NVSHsVrhFAPZtHhGjFGsn"></div>
                    <input type="submit" class="btn w3-blue-grey" id="comment_button" value="Post comment">


                    <input name="user_input" type="hidden" value="{{user_input_list}}"/>


                </form>
                {%endif%}

                {%if not user.is_authenticated%}
                <h3>Log in to leave a comment</h3>
                <h5>Create an account <a href="{% url 'registration_register' %}">here</a></h5>
                {% endif %}

            </div>
            <div class="w3-small col-sm-4 w3-padding-24 text-right">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <hr>
                <div class="w3-margin">
                    <h3 class="w3-padding-24 w3-text-dark-grey">Comments</h3>
                    {% if not comments%}
                    <hr>
                    <img src="../../static/images/genericAvatar.png" alt="Avatar" class="w3-left w3-margin-right"
                         style="height:80px">
                    <p><span class="w3-large w3-margin-right">MealMatch</span> <span
                            class="w3-right"></span></p>
                    <p>Be the first one to leave a comment!</p>
                    <br>
                    {%endif%}

                    {%for comment in comments %}
                    <hr>
                    <img src="{{comment.picture}}" alt="Avatar" class="w3-left w3-margin-right" style="height:80px; max-width:100px;">
                    <p><span class="w3-large w3-margin-right">{{comment.username}}</span> <span
                            class="w3-right">{{comment.created_at}}</span></p>
                    <p>{{comment.body}}</p>
                    <br>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var rating = "{{rating}}";
    var id = "{{recipe.id}}";
    star_rating(rating, id);







</script>


{% endblock %}
