{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href='{% static "css/recipes.css"%}'>
    <div class="container container_background">
        <div class="recipes_container startPage">
            <div class="col-sm-2">
                <div class="site-side__row">
                    <div class="special_diet">Special diet
                    </div>
                    <div class="meal">Meal
                    </div>
                    <div class="my_ingredients">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" href="#collapse1">My ingredients</a>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-header">
                                            <input type="text" id="ingredient-form" id="add" class="form-control" size="50" placeholder="Add ingredient..." required >
                                            <button class="button" id="searchbar_plus" onclick="addItem()" value="Add">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                        </div>

                                    <div class="panel-body">
                                        <div class="input-group">
                                            <ol id="ingredients" style="font-size: 1.7em";>

                                            </ol>




                                        </div>

                                    </div>
                                    <div class="panel-footer"><button type="button" class="btn" id="matchme" onclick="makeCookie()">Match me</button></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-10">
                <div class="site-main__row">
                    <div class="recipes">
                        <div class="list-row">
                            <div class="list-item list-item--recipe list-item--size-33" data-id="245570">
                                <div class="list-item__inner">
                                    <header class="list-item__header">
                                        <a class="list-item__image" href="http://www.tasteline.com/recept/barillas-italienska-kottbullar-med-het-tomatsas/"></a>
                                    </header>
                                    <main class="list-item__content">
                                        <a class="list-item__link" href="http://www.tasteline.com/recept/barillas-italienska-kottbullar-med-het-tomatsas/">
                                            <p class="list-item__title">
                                                <span class="list-item__title-inner">Barillas Italienska köttbullar med het tomatsås</span>
                                            </p>
                                        </a>
                                        <div class="list-item__votes"><span class="recipe-rating" title="Betyg: 4.5 Antal röster: 2" data-id="245570"><i class="fa fa-star-o highlight" data-grade="1"></i><i class="fa fa-star-o highlight" data-grade="2"></i><i class="fa fa-star-o highlight" data-grade="3"></i><i class="fa fa-star-o highlight" data-grade="4"></i><i class="fa fa-star-o half-highlight" data-grade="5"></i></span></div>
                                        <ul class="list-item__meta">
                                            <li class="list-item__meta-item"><i class="list-item__meta-icon fa fa-tags" aria-hidden="true"></i> 12 ingredienser</li>
                                        </ul>
                                    </main>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}
