{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}


<link rel="stylesheet" type="text/css" href='{% static "css/index.css"%}'>
        <div class="startPage">
            <div class="container-fluid startPageContainer">
            <div class="container_logo w3-hide-small">
                <img src="../../static/images/logo.png" alt="Logo" width="100%" height="auto">

            </div>
            <h2 id="slogan">Let's find your perfect match!</h2>
                <div class="container_searchbar">
                    <form class="search_bar" action="/recipes/" method="POST">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" id="ingredient-form" class="form-control"  size="50" placeholder="Add ingredient..." maxlength="30" required >

                                <button class="button" id="searchbar_plus" value="Add" onclick = "addItem()">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>

                                <!--<<button type="button" class="btn btn-info dropdown-toggle" id="alternatives" data-toggle="dropdown">Alternatives
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                    <li><a href="#">Vegetarian</a></li>
                                    <li><a href="#">Gluten free</a></li>
                                    <li><a href="#">Laktos free</a></li>
                            </ul>-->
                        </div>
                    </form>
                </div>
            <div class="container_ingredients">


                <form class = "ing_form" action="/recipes/recipes/" method="GET" >
                    {% csrf_token %}

                     <div class="form-group">
                         <div class="center_button">
                         <input type="submit" class="btn btn-primary w3-ripple matchbutton" id="matchme" value = "Match me(al)" onsubmit ="setURL()">
                         <br>
                             {% if user.is_authenticated %}
                         <input id="checkbox1" type="checkbox" checked name="checkbox">
                        <label for="checkbox1" data-text-true="Pantry" data-text-false="No pantry"><i></i></label>
                             {% endif %}
                     </div>
                     </div>





                <div class="rows_ingredients">



                    <div class="column_ingredients col-sm-11">



                            <div class="container">
                                <ol class="list-group" id="ingredients" style="font-size: 1.7em";>


                                </ol>




                            </div>




                    </div>
                    <!--<div class="column_remove col-sm-1">

                        </div>-->

                </div>

                </form>
            </div>
            </div>


        </div>




{% endblock %}
