{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href='{% static "css/index.css"%}'>
        <div class="startPage">

            <div class="container_logo">
                <img src="../../static/images/logo.png" alt="Logo" width="100%" height="auto">

            </div>
            <h2 id="slogan">We specialize in recipe matching</h2>
                <div class="container_searchbar" >
                    <form class="search_bar" action="/recipes/" method="POST">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" id="ingredient-form" class="form-control"  size="50" placeholder="Add ingredient..." maxlength="30" required >

                                <button class="button" id="searchbar_plus" value="Add" onclick = "addItem()">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>

                                <button type="button" class="btn btn-info dropdown-toggle" id="alternatives" data-toggle="dropdown">Alternatives
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                    <li><a href="#">Vegetarian</a></li>
                                    <li><a href="#">Gluten free</a></li>
                                    <li><a href="#">Laktos free</a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            <div class="container_ingredients">


                <form class = "ing_form" action="/recipes/recipes/" method="POST" >
                 {% csrf_token %}



                <div class="rows_ingredients">



                    <div class="column_ingredients col-sm-11">



                            <div class="container">
                                <ol class="list-group" id="ingredients" style="font-size: 1.7em";>


                                </ol>




                            </div>
                            <input type="submit" class="btn" id="matchme" value = "Match me(al)" onclick = "setCookies()">




                    </div>
                    <!--<div class="column_remove col-sm-1">

                        </div>-->

                </div>

                </form>
            </div>


        </div>




{% endblock %}
