{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}


<link rel="stylesheet" type="text/css" href='{% static "css/index.css"%}'>
        <div class="startPage">
            <div class="container_logo container-fluid" style="max-width:700px;">

                <img src="../../static/images/logo.png" alt="Logo" width="100%" height="auto" class="w3-hide-small">
                 <h2 class="w3-hide-small" id="slogan">Let's find your perfect match!</h2>
                 <h4 class="w3-hide-medium w3-hide-large" id="slogan">Let's find your perfect match!</h4>


            </div>
            <div class="container-fluid startPageContainer">


                <div class="container_searchbar">

                    <div class="search_bar" action="/recipes/" method="POST">

                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" id="ingredient-form" class="form-control"  size="50" placeholder="Add ingredient..." maxlength="30">
                                <button data-toggle="popover" data-content="You need to add an ingredient"class="button" id="searchbar_plus" value="Add" onclick = "addItem()">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>

                                <!--<<button type="button" class="btn btn-info dropdown-toggle" id="alternatives" data-toggle="dropdown">Alternatives
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                    <li><a href="#">Vegetarian</a></li>
                                    <li><a href="#">Gluten free</a></li>
                                    <li><a href="#">Laktos free</a></li>
                            </ul>-->
                        </div>
                    </div>
                </div>
            <div class="container_ingredients text-center">


                <form class = "ing_form "  action="/recipes/" method="GET" >
                    {% csrf_token %}





                     <div class="btn-group text-center toggle-group" style="height: 45px; background-color: #2199E8">
                         <button type="submit" class="btn btn-primary w3-ripple matchbutton" id="matchme" style="height: 100%;">Match me(al)</button>


                      {% if user.is_authenticated %}

                             <input id="checkbox1" type="checkbox" checked name="checkbox" class="pantryCheck">
                            <label for="checkbox1" data-text-true="Pantry" data-text-false="No pantry"><i></i></label>




                             {% endif %}



                     </div>

                           <!--  {% if user.is_authenticated %}

                         <input id="checkbox1" type="checkbox" checked name="checkbox" class="pantryCheck">
                        <label for="checkbox1" data-text-true="Pantry" data-text-false="No pantry"><i></i></label>
                             {% endif %}-->

                         <!--<input id="vegBox" type="checkbox" name="veg" >-->
                        <!--<label for="vegBox"><i>Vegetarian</i></label>-->
                         <!--<input id="veganBox" type="checkbox" name="veg" >-->
                        <!--<label for="veganBox"><i>Vegan</i></label>-->
                         <!--<input id="dairyBox" type="checkbox" name="veg" >-->
                        <!--<label for="dairyBox"><i>Dairy-free</i></label>-->
                         <!--<input id="glutenBox" type="checkbox" name="veg" >-->
                        <!--<label for="glutenBox"><i>Gluten-free</i></label>-->


                        <!-- <div class="center_button">
                         <input type="submit" class="btn btn-primary w3-ripple matchbutton" id="matchme" value = "Match me(al)">
                         <br>

                         </div>-->

                     </div>




                <div class="rows_ingredients">



                    <div class="column_ingredients col-sm-11">



                            <div class="container">
                                <ol class="list-group" id="ingredients" style="font-size: 1.7em";>


                                </ol>




                            </div>




                    </div>
                    <!--<div class="column_remove col-sm-1">

                        </div>-->

                </div>

                </form>
            </div>
            </div>


        </div>




{% endblock %}
